# Poetry pyproject.toml: https://python-poetry.org/docs/pyproject/

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "python-package-template"
version = "0.1.0"
description = "Cookiecutter template for Python cli/packages"
readme = "README.md"
authors = ["Roman Tezikov <tez.romach@gmail.com>"]
license = "MIT"
repository = "https://github.com/TezRomacH/python-package-template"
homepage = "https://github.com/TezRomacH/python-package-template"
keywords = ["cookiecutter", "template", "packages", "black"]

# Pypi classifiers: https://pypi.org/classifiers/
classifiers = []

[tool.poetry.dependencies]
python = "^3.7"
cookiecutter = "^1.7.2"
lice = "^0.6"
pre-commit = "^2.5.1"

[tool.poetry.dev-dependencies]
darglint = "^1.4.1"
isort = {extras = ["pyproject"], version = "^4.3.21"}
pyupgrade = "^2.6.1"
black = "^19.10b0"
mypy = "^0.781"
bandit = "^1.6.2"
safety = "^1.9.0"
pytest = "^5.4.3"
pylint = "^2.5.3"
pydocstyle = "^5.0.2"

[tool.black]
# https://github.com/psf/black
line-length = 80
target-version = ["py37"]
exclude = "({{ cookiecutter.project_name }}/|.eggs|.git|.hg|.mypy_cache|.nox|.tox|.venv|.svn|_build|buck-out|build|dist)"

[tool.isort]
# https://github.com/timothycrosley/isort/
known_typing = "typing,types,typing_extensions,mypy,mypy_extensions"
sections = "FUTURE,TYPING,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
include_trailing_comma = true
default_section = "FIRSTPARTY"
multi_line_output = 3
force_grid_wrap = 0
use_parentheses = true
line_length = 80
